body {
    background: #222233;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 1.4rem;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #AACCFF;
}

.mini-container {
    display: block;
    background: #191926;
    border-radius: 4px;
    padding: 4%;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.mini-container, h1 {
    color: #BEF0FF;
    text-align: center;
}

a {
    text-decoration: none;
}


button {
    background: #EED369;
    cursor: pointer;
    color: black !important;
    border: none;
    border-radius: 4px;
    padding: 4%;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 4%;
}


button:hover {
    background: #e8c63e;
}

@media only screen and (max-width: 1200px) {
    button {
        width: 100% !important;
    }
}
